@charset "UTF-8";
:root {
  --main-font-family: YuMincho, "Yu Mincho", serif;
  --sub-font-family: YuMincho, "Yu Mincho", serif;
  --main-font-size: var.rm(16);
  --main-font-weight: 400;
  --main-font-color: #000;
  --main-line-height: 1.6;
  --main-letter-spacing: 0;
  --main-link-color: #000;
  --main-color: #000;
  --sub-color: #000;
  --main-inner-width: var.rm(1030);
  --main-inner-padding: 0 var.rm(15);
  --anime-speed: 750ms;
  --anime-delay: 0.6s;
}

@media (max-width: 750px) {
  :root {
    --main-font-size: var.rm(16);
    --main-line-height: 1.6;
    --main-letter-spacing: 0;
    --main-inner-width: 100%;
    --main-inner-padding: 0 var.rm(15);
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: var(--main-font-weight);
  color: var(--main-font-color);
  letter-spacing: var(--main-letter-spacing);
  -webkit-text-size-adjust: 100%;
}

img,
svg {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
  line-height: 1;
}

a {
  color: var(--main-link-color);
  text-decoration: none;
}

input,
textarea,
button,
select {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-hight);
  font-weight: var(--main-font-weight);
  color: var(--main-font-color);
}

:where(:root, body) {
  overflow-x: clip;
}

@media screen and (max-width: 750px) {
  body {
    font-weight: var(--main-font-weight);
    line-height: var(--main-line-hight);
  }
  input,
  textarea,
  button,
  select {
    font-weight: var(--main-font-weight);
  }
}
/*　header
----------------------------------------------- */
.header-btn {
  width: 2.1875rem;
  height: 1.5625rem;
  position: relative;
  z-index: 13;
}

.menu {
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.menu span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  background-color: #00aac3;
}
.menu span:nth-of-type(1) {
  top: 0;
}
.menu span:nth-of-type(2) {
  top: 0.6875rem;
}
.menu span:nth-of-type(3) {
  bottom: 0;
}
.menu.active span:nth-of-type(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.menu.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.menu.active span:nth-of-type(3) {
  opacity: 0;
}

/*　footer
----------------------------------------------- */
/*　フェード
----------------------------------------------- */
.view01 {
  -webkit-transform: translateY(1.875rem);
          transform: translateY(1.875rem);
  position: relative;
  opacity: 0;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}
.view01.view-on {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}

.view02 {
  -webkit-transform: translateX(-1.875rem);
          transform: translateX(-1.875rem);
  position: relative;
  opacity: 0;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}
.view02.view-on {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}

.view03 {
  -webkit-transform: translateX(1.875rem);
          transform: translateX(1.875rem);
  position: relative;
  opacity: 0;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}
.view03.view-on {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}

.view04 {
  -webkit-transform: translateY(-1.875rem);
          transform: translateY(-1.875rem);
  position: relative;
  opacity: 0;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}
.view04.view-on {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}

.view05 {
  position: relative;
  opacity: 0;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}
.view05.view-on {
  opacity: 1;
  -webkit-transition: all var(--anime-speed) ease;
  transition: all var(--anime-speed) ease;
  -webkit-transition-delay: var(--anime-delay);
          transition-delay: var(--anime-delay);
}

/*　スライドアニメーション
----------------------------------------------- */
.js-slide-h {
  display: grid;
  -webkit-transition: grid-template-rows 0.4s;
  transition: grid-template-rows 0.4s;
  transition: grid-template-rows 0.4s, -ms-grid-rows 0.4s;
  grid-template-rows: 0fr;
}
.js-slide-h > * {
  overflow: hidden;
}
.js-slide-h.js-active {
  grid-template-rows: 1fr;
}

/*　共通
----------------------------------------------- */
body {
  overflow-x: clip;
}
body.js-on {
  overflow: hidden;
}

.sp {
  display: none;
}

.pc {
  display: block;
}

.pc-inline {
  display: inline;
}

.sp-inline {
  display: none;
}

.inner {
  max-width: var(--main-inner-width);
  margin-inline: auto;
  padding: var(--main-inner-padding);
}

@media screen and (max-width: 750px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  .sp-inline {
    display: inline;
  }
  .pc-inline {
    display: none;
  }
  .inner {
    margin: 0;
  }
}
/*　投稿
----------------------------------------------- */
.post h1,
.interface-interface-skeleton__body h1 {
  font-size: 1.625rem;
  font-weight: bold;
}
.post h2,
.interface-interface-skeleton__body h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.post h3,
.interface-interface-skeleton__body h3 {
  font-size: 1.375rem;
  font-weight: bold;
}
.post h4,
.interface-interface-skeleton__body h4 {
  font-size: 1.25rem;
  font-weight: bold;
}
.post h5,
.interface-interface-skeleton__body h5 {
  font-size: 1.125rem;
  font-weight: bold;
}
.post h6,
.interface-interface-skeleton__body h6 {
  font-size: 1rem;
  font-weight: bold;
}
.post strong,
.interface-interface-skeleton__body strong {
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .post h1,
  .interface-interface-skeleton__body h1 {
    font-size: 1.5rem;
  }
  .post h2,
  .interface-interface-skeleton__body h2 {
    font-size: 1.375rem;
  }
  .post h3,
  .interface-interface-skeleton__body h3 {
    font-size: 1.25rem;
  }
  .post h4,
  .interface-interface-skeleton__body h4 {
    font-size: 1.125rem;
  }
  .post h5,
  .interface-interface-skeleton__body h5 {
    font-size: 1rem;
  }
  .post h6,
  .interface-interface-skeleton__body h6 {
    font-size: 0.875rem;
  }
}
.not-page {
  padding: 5rem 0;
  text-align: center;
}

.not-page__ttl {
  font-size: 2.1875rem;
  font-weight: 700;
}

.not-page__text {
  margin-top: 1.5625rem;
}

.not-page__btn {
  margin-top: 2.1875rem;
  font-size: 1.125rem;
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .not-page {
    padding: 3.125rem 0;
  }
  .not-page__ttl {
    font-size: 1.5625rem;
  }
  .not-page__text {
    margin-top: 0.9375rem;
  }
  .not-page__btn {
    margin-top: 1.5625rem;
    font-size: 1rem;
  }
}