@charset "UTF-8";
@use "../scss_var"as var;

/*ã€€header
----------------------------------------------- */
.header {}

.header__inner {}

.header__logo {
  a {}
}

//menu-trigger
.header-btn {
  width: var.rm(35);
  height: var.rm(25);
  position: relative;
  z-index: 13;
}

.menu {
  display: block;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;

  span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 0;
    width: 100%;
    height: var.rm(3);
    background-color: #00aac3;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: var.rm(11);
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }

  &.active {
    span {

      //   background: #FFF;
      &:nth-of-type(1) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }

      &:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-of-type(3) {
        opacity: 0;
      }
    }
  }
}

@include var.sp {
  .header {}

  .header__inner {}
}