@charset "UTF-8";
@use "../scss_var"as var;

.not-page {
  padding: var.rm(80) 0;
  text-align: center;
}

.not-page__ttl {
  font-size: var.rm(35);
  font-weight: 700;
}

.not-page__text {
  margin-top: var.rm(25);
}

.not-page__btn {
  margin-top: var.rm(35);
  font-size: var.rm(18);
  text-decoration: underline;
}

@include var.sp {
  .not-page {
    padding: var.rm(50) 0;
  }

  .not-page__ttl {
    font-size: var.rm(25);
  }

  .not-page__text {
    margin-top: var.rm(15);
  }

  .not-page__btn {
    margin-top: var.rm(25);
    font-size: var.rm(16);
  }
}