@charset "UTF-8";
@use "../scss_var"as var;

/*　投稿
----------------------------------------------- */
.post,
.interface-interface-skeleton__body {
  h1 {
    font-size: var.rm(26);
    font-weight: bold;
  }

  h2 {
    font-size: var.rm(24);
    font-weight: bold;
  }

  h3 {
    font-size: var.rm(22);
    font-weight: bold;
  }

  h4 {
    font-size: var.rm(20);
    font-weight: bold;
  }

  h5 {
    font-size: var.rm(18);
    font-weight: bold;
  }

  h6 {
    font-size: var.rm(16);
    font-weight: bold;
  }

  strong {
    font-weight: bold;
  }
}

@include var.sp {

  .post,
  .interface-interface-skeleton__body {
    h1 {
      font-size: var.rm(24);
    }

    h2 {
      font-size: var.rm(22);
    }

    h3 {
      font-size: var.rm(20);
    }

    h4 {
      font-size: var.rm(18);
    }

    h5 {
      font-size: var.rm(16);
    }

    h6 {
      font-size: var.rm(14);
    }
  }
}